@import url('./_clicked/photo__like-button_clicked.css');
@import url('./_unclicked/photo__like-button_unclicked.css');

.photo__like-button {
	width: 19px;
	height: 21px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 0;
	background-color: #fff;
}

.photo__like-button:active {
	outline: none;
}

.photo__like-button:focus {
	outline: none;
}